使用环境
模拟器在本地计算机上创建和运行，在运行和调试应用/元服务时可以保持良好的流畅性和稳定性，但是需要耗费一定的计算机资源，具体的运行环境要求为：
系统类型
运行环境要求
Windows(X86)
Windows 10 企业版、专业版或教育版及以上，且操作系统版本不低于10.0.18363。具有二级地址转换 (SLAT) 的 64 位处理器。CPU支持AES指令集。CPU 支持 VM 监视器模式扩展（Intel CPU 的 VT-c 技术）。系统内存16GB及以上。不支持在虚拟机系统中运行模拟器。系统OpenGL版本4.1及以上。屏幕分辨率1280*800像素以上。
macOS(ARM)
macOS系统为12.5及以上版本。系统内存8GB及以上。不支持在虚拟机系统中运行模拟器。系统OpenGL版本4.1及以上。屏幕分辨率1280*800像素以上。
